#catalogo{
  max-width: 977px;
  width: 95%;
  background-color: #ed8330; 
}
#catalogoTitulo{
  background-color: #d6670c;
}
#catalogoTituloMovil{
  background-color: #d6670c;
  font-size: 20px;
}
.catalogoCategoria{
  position: relative;
  overflow: hidden;
  width: 300px;
  border-radius: 15px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.catalogoCategoria:hover{
  transform: scale(1.04);
}
.catalogoImagen{
  width: 100%;
}
.catalogoNombre {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 50px;
  font-size: 30px;
  text-align: center;
}
.catalogoNombreMovil {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 30px;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 977px) {
  .catalogoCategoria{
    width: 48%;
  }
}